# 이 디렉토리의 기본 파일을 main/index.html로 설정
DirectoryIndex main/index.html index.html

# 캐싱 설정 (선택 사항)
<FilesMatch "\.(jpg|jpeg|png|gif|css|js|svg|woff|woff2|ttf|otf|eot)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 week"
</FilesMatch>

# 오류 페이지 설정 (선택 사항)
ErrorDocument 404 /main/404.html
